In [50]:
import pandas as pd

caminho_Df_1 = 'DataSet_brazilian-ecommerce/olist_customers_dataset.csv'

df_1 = pd.read_csv(caminho_Df_1)

display(df_1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [51]:
# Renomeando colunas
df_1.rename(columns={'customer_id':'ID do Cliente','customer_unique_id':'ID Exclusivo do Cliente','customer_zip_code_prefix':'CEP','customer_city':'Cidade','customer_state':'Estado'}, inplace=True)

#Criando uma coluna para separar clientes por região
#criando um dicionário chamado regiao que mapeia os estados para as regiões correspondentes
regiao = {"AC": "Norte",
    "AL": "Nordeste",
    "AP": "Norte",
    "AM": "Norte",
    "BA": "Nordeste",
    "CE": "Nordeste",
    "DF": "Centro-Oeste",
    "ES": "Sudeste",
    "GO": "Centro-Oeste",
    "MA": "Nordeste",
    "MG": "Sudeste",
    "MT": "Centro-Oeste",
    "MS": "Centro-Oeste",
    "PA": "Norte",
    "PB": "Nordeste",
    "PE": "Nordeste",
    "PI": "Nordeste",
    "PR": "Sul",
    "RJ": "Sudeste",
    "RN": "Nordeste",
    "RO": "Norte",
    "RR": "Norte",
    "RS": "Sul",
    "SC": "Sul",
    "SE": "Nordeste",
    "SP": "Sudeste",
    "TO": "Norte",
}
#criando uma nova coluna chamada "Região" no DataFrame, preenchendo os valores com base no mapeamento do 
# estado para a região.
df_1["Região"] = df_1["Estado"].map(regiao)

In [52]:
# A linha abaixo traz as informaçoes do dataset
df_1.info()

#Procurando valores nulos
print('\n')
print("Valores nulos")
valores_nulos = df_1.isnull().isna()
print(valores_nulos.any().any())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID do Cliente            99441 non-null  object
 1   ID Exclusivo do Cliente  99441 non-null  object
 2   CEP                      99441 non-null  int64
 3   Cidade                   99441 non-null  object
 4   Estado                   99441 non-null  object
 5   Região                   99441 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.6+ MB


Valores nulos
False

In [53]:
# Verificando se há linhas duplicadas
df_1[df_1.duplicated()]

Empty DataFrame
Columns: [ID do Cliente, ID Exclusivo do Cliente, CEP, Cidade, Estado, Região]
Index: []

In [54]:
# Salvando o dataset

caminho_arquivo = r'C:\Users\Hermerson\Projeto-Koru-BigData\main\dados_limpos\clientes.csv'
df_1.to_csv(caminho_arquivo, index=False)